# Dependencies
node_modules
.venv

# Build
dist
build

# IDEs and Editors
.idea
.vscode

# System
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Git
.git

# Python
__pycache__
*.py[cod]

# Docker
Dockerfile
docker-compose.yml
README.md
